.section .reveal .state-background {
    background: black;}
   
/* body text, ordered and unordered list styles */
.reveal ul, 
.reveal ol, 
.reveal p{
    font-size: 180%;
    line-height: 110%;
    list-style-type: disc;
}
.reveal pre code {
  font-family: "Courier New"; 
  font-size: 150%;
  line-height: 130%;
}


.reveal code.r {
  font-family: "Courier New"; 
  font-weight: 600;
}

/* slide titles */
.reveal h3 { 
  font-size: 200%;
  font-weight: 500;
}
/* heading for slides with two hashes ## */
.reveal .slides section .slideContent h2 {
   font-size: 40px;
   font-weight: bold;
}
.small-code pre code {
  font-size: 125%; 
}
.vsmall-code pre code {
  font-size: 100%; 
}

.big-body p{
    font-size: 250%;
    line-height: 110%;
    list-style-type: disc;
}
.small-body p{
    font-size: 100%;
    line-height: 100%;
    list-style-type: disc;
}


